body{
    background-color: rgb(148, 201, 245);
}

img{
    width: 700px;
    height: 450px;
}





@media (max-width:500px){
    nav{
        
    }

    body{
        background-color: rgb(157, 214, 209);
        font-family: Courier New;
        font-size: 5px;
    }
    img{
        width: 150px;
        height: 150px;
        text-align: center;
    }
}

@media (min-width:501px) and (max-width:1000px){
    nav{
        
    }

    body{
        background-color: rgb(219, 183, 130);
        font-family: Monotype Corsiva;
        font-size: 15xp;
    }
    img{
        width: 400px;
        height: 400px;
        text-align: center;
    }
}




